* {
  box-sizing: border-box;
  color: #612407;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
}
.beelogo {
  width: 100px;
  height: 100px;
}
.sidebar,
.card1,
.card2,
.card3,
.card4,
.article {
  background-color: #faf7e3;
}
.sidebar {
  border-radius: 50px;
}
.ourhoney .tracehoney .shop .facilities .contact {
  background-color: #f3df85;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card1,
.card2,
.card3,
.card4 {
  border-radius: 15%;
  text-align: center;
  overflow: hidden;
  width: 48%;
  height: 300px;
}
.cards img {
  height: 150px;
  width: 100%;
}
.article {
  border-radius: 25px;
}
.button {
  background-color: #f3df85;
  text-align: center;
}
